html {
    background: #ccc;
}

body {
    font-family: 'Times New Roman', Times, serif;
    padding: 40px;
    margin: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    border-bottom: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

nav {
    background: #fff;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #ccc;
}

p {
    line-height: 1.4em;
    width: 600px;
}

#blog {
    display: flex;
    flex-direction: column;
}

.blog-post {
    border-bottom: 1px dotted #ccc;  
    flex: 1;
    width:50%;
}

.floater {
    float: left;
}

figcaption {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: gray;
    text-align: center;
}

[src] {
    border: 2px solid #242424;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: square;
}

td.year {
    border-collapse: separate;
    border-spacing: 5px;
    border-right: 2px solid #242424;
}

a {
    text-decoration: none;
}

div.contact-info {
    width:150px;
    text-align: center;
}

@media (max-width: 400px) {
    [src] {
        size: 50%;
    }
}